@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Karla", sans-serif;
  background: #e5eff5;
  overflow: hidden;
}

h3 {
  font-size: 1.1rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

@media screen and (max-width: 640px) {
  h3 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}

p {
  letter-spacing: -0.01rem;
}

ul {
  list-style-type: none;
}

main {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 216px 260px;
      grid-template-rows: 216px 260px;
  width: 100%;
  max-width: 40rem;
  background: white;
  border-radius: 0.5rem;
  overflow: hidden;
  -webkit-box-shadow: 0 1rem 2rem rgba(152, 166, 189, 0.5);
          box-shadow: 0 1rem 2rem rgba(152, 166, 189, 0.5);
  margin: 2rem;
}

@media screen and (max-width: 640px) {
  .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
}

.container section {
  padding: 2.5rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

@media screen and (max-width: 640px) {
  .container section {
    padding: 1.5rem;
  }
}

.title {
  grid-column: span 2;
}

@media screen and (max-width: 640px) {
  .title {
    grid-column: unset;
  }
}

.title h2 {
  margin-bottom: 1.5rem;
  letter-spacing: -0.02rem;
  color: #2ab2af;
}

@media screen and (max-width: 640px) {
  .title h2 {
    font-size: 1.2rem;
  }
}

.title h3 {
  margin-bottom: 1rem;
  color: #c0df34;
}

.title p {
  color: #98a6bd;
}

@media screen and (max-width: 640px) {
  .title p {
    line-height: 2;
    font-size: 0.9rem;
  }
}

.subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  background: #2ab2af;
}

.subscription .price-container p {
  opacity: 0.8;
}

@media screen and (max-width: 640px) {
  .subscription .price-container {
    margin-bottom: 1.5rem;
  }
}

.subscription .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.4rem;
}

.subscription .price p {
  opacity: 0.5;
}

.subscription span {
  font-size: 2rem;
  font-weight: 700;
  margin-right: 0.7rem;
}

.subscription button {
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  padding: 0.8rem;
  border: none;
  outline: none;
  background: #c0df34;
  border-radius: 0.3rem;
  -webkit-box-shadow: 0 0.5rem 1rem #259d9b;
          box-shadow: 0 0.5rem 1rem #259d9b;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.subscription button:hover {
  background: #b7d822;
  -webkit-box-shadow: 0 0.5rem 1rem #208887;
          box-shadow: 0 0.5rem 1rem #208887;
}

.why-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  background: rgba(42, 178, 175, 0.8);
}

.why-us li {
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
  opacity: 0.7;
}
/*# sourceMappingURL=style.css.map */